<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

  <body>
  <% if flash[:error] %>
    <% flash[:error].each do |er| %>
        <h2><%= er %></h2>
      <% end %>
  <% end %>
  <%= yield %>
  </body>
</html>