<h1> You have a total of <%= @user.jumps.count %> jumps!</h1>

<h2>You can access your jumps through the following links: </h2>


<% @user.jumps.each do |jump| %>
  <h3><a href="/jump/<%= jump.id %>"> Jump <%= jump.jump_number %></a></h3>
<% end %>


<h3><a href="/jump/new">Add a new jump</a></h3>