<h1>Create a new Jump:</h1>
<form action="/jump/index" method="POST">

  <label>Jump type:</label>
  <input id='jump_type' type="text" name="jump[type_of_jump]">
  <br>
  <label>Jump number:</label>
  <input id='jump_number' type="integer" name="jump[jump_number]">
  <br>
  <label>Altitude:</label>
  <input id='jump_altitude' type="integer" name="jump[altitude]">
  <br>
  <label>Description:</label>
  <input id='jump_description' type="text" name="jump[description]">
  <br>
  <label>User:</label>
  <%= @user.name %>

  <input type="submit" value="Create New Jump">
</form>