<h1>Create a new Pet</h1>
<form action="/pets" method="POST">

  <label>Jump number:</label>
  <input id='jump_number' type="integer" name="jump[number]">
  <label>Altitude:</label>
  <input id='jump_altitude' type="integer" name="jump[altitude]">
  <label>Description:</label>
  <input id='jump_description' type="text" name="jump[description]">
  <label>User:</label>
  <%= @user.name %>
</form>