<h1>Username: <%=@user.username%> </h1>

<h2>Name: <%=@user.name %></h2>
<h2>License: <%=@user.license %></h2>
<h2>Canopy size: <%=@user.canopy_size %></h2>

<h3><a href="/user/edit">Edit profile info</a></h3>
<h3><a href="/jump/index">View your jumps</a></h3>
<h3><a href="/jump/new">Add a new jump</a></h3>

<h4><a href="/user/logout">Log Out</a></h4>